//
// Default setup, please change it in own project by override
//

// colors
$formColorRquired: red;

// todo: change this
$screen-sm-min: 1;
$screen-md-min: 1;
$screen-lg-min: 1;

// fonts
$btnBlackFont: "Arial";