//
// Default setup, please change it in own project by override
//

// colors
@import "colors";

// break-points
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

// fonts
$font-base: "Arial", sans-serif !default;